<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <title>Unity Bank</title>
</head>
<body>
    <div id="app">
        <header class="flex min-h-[5vh] justify-between items-center w-full flex-col md:flex-row bg-white p-2">
            <nav>
                <ul class="flex gap-2">
                    <li>
                        <a href="./cards.html"
                            class="p-2 rounded-lg text-white text-sm lg:text-base bg-orange-500 hover:bg-orange-700/50">Back
                            to Cards</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class=" bg-cover min-h-screen flex justify-center items-center">
            <div
                class="flex justify-center items-center flex-col gap-4 bg-gradient-to-t from-orange-700 to-orange-500 p-4 rounded-lg">
                <form class="flex gap-4 flex-col text-white">
                    <div>
                        <label>Choose color</label>
                        <select class="rounded-md text-black" v-model="selectedColor">
                            <option>GOLD</option>
                            <option>SILVER</option>
                            <option>TITANIUM</option>
                        </select>
                    </div>
                    <div>
                        <label>Choose Type</label>
                        <select class="rounded-md text-black" v-model="selectedType">
                            <option>CREDIT</option>
                            <option>DEBIT</option>
                        </select>
                    </div>
                    <div class="flex justify-center">
                        <button type="button" v-on:click="createCard()"
                            class="bg-white hover:scale-110 text-orange-600 py-2 px-4 rounded">Create new
                            Card</button>
                    </div>
                </form>

            </div>
        </main>
    </div>
    <script type="module" src="../pagesJs/tailwind.config.extension.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../pagesJs/createCard.js"></script>
</body>

</html>