<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../pagesCss/style.css">
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <title>Cards</title>
</head>

<body class=" flex flex-col bg-linen">
    <div id="app">
        <header class="w-full ">
            <div class="pb-2 flex flex-row items-center">
                <img class="w-12 h-12 rounded-md" src="../images/favicon.png" alt="logo">
                <h2 class="text-lg  text-center pl-3 ">UNITY BANK</h2>
            </div>
            <ul class="nav-list pt-2 ">
                <li><a href="http://localhost:8080/web/pages/accounts.html" class=" text-lg">Accounts</a></li>
                <li><a href="#" class="active text-lg">Cards</a></li>
                <li><a href="" class="text-lg">Loans</a></li>
                <li><a href="" class="text-lg">Transactions</a></li>
            </ul>
            <button v-on:click="logout()" class="px-6 pt-2"><img class="w-10 h-10" src="../images/cerrar sesion.png"
                    alt="cerrar sesion"></button>
        </header>
        <main class="w-full min-h-screen pt-24">
            <div id="app">
                <h1 v-if="cards.length > 0" class="text-3xl text-center font-bold pb-5">Your Cards</h1>
                <div v-if="cards.length > 0" class="flex flex-wrap  justify-evenly  h-[400px] items-">
                    <template v-if="cards.length > 0" v-for="card in cards">
                        <template v-if="card.type == 'DEBIT'">
                            <div>
                                <h2 class="pb-2 font-semibold text-lg">Debit:</h2>
                                <div class="w-96 h-56 m-auto bg-red-100 rounded-xl text-white shadow-2xl transition-transform 
                                                    transform hover:scale-110">
                                    <img class=" object-cover  rounded-xl" src="../images/card-gold.png">
                                    <div class="w-full px-6 absolute top-7">
                                        <div class="flex justify-between">
                                            <p class="font-bold tracking-widest">
                                                {{card.color}}
                                            </p>
                                        </div>
                                        <div class="pt-14">
                                            <p class="font-medium tracking-more-wider">
                                                {{card.number}}
                                            </p>
                                        </div>
                                        <div class="flex flex-col items-start">
                                            <div class="flex flex-row gap-10 ">
                                                <div>
                                                    <p class="font-light text-xs">
                                                        Valid
                                                        </h1>
                                                    <p class="font-medium tracking-wider text-sm">
                                                        {{card.creationDate}}
                                                    </p>
                                                </div>
                                                <div>
                                                    <p class="font-light text-xs">
                                                        Expiry
                                                        </h1>
                                                    <p class="font-medium tracking-wider text-sm">
                                                        {{card.expirationDate}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="flex justify-between items-start pr-5 pt-7 font-bold w-[350px] ">
                                                <h3>{{card.cardHolder}}</h3>
                                                <h3>{{card.type}}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <template v-if="card.type == 'CREDIT'">
                            <div>
                                <h2 class="pb-2 font-semibold text-lg">Credit:</h2>
                                <div
                                    class="w-96 h-56 m-auto bg-red-100 rounded-xl  text-white shadow-2xl transition-transform transform hover:scale-110">
                                    <img class=" object-cover  rounded-xl" src="../images/cardBlack.png">
    
                                    <div class="w-full px-8 absolute top-8">
                                        <div class="flex justify-between">
                                            <div class="">
                                                <p class="font-bold tracking-widest">
                                                    {{card.color}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="pt-14">
                                            <p class="font-medium tracking-more-wider">
                                                {{card.number}}
                                            </p>
                                        </div>
                                        <div class="flex flex-col items-start">
                                            <div class="flex flex-row gap-10">
                                                <div class="">
                                                    <p class="font-light text-xs">
                                                        Valid
                                                        </h1>
                                                    <p class="font-medium tracking-wider text-sm">
                                                        {{card.creationDate}}
                                                    </p>
                                                </div>
                                                <div class="">
                                                    <p class="font-light text-xs ">
                                                        Expiry
                                                        </h1>
                                                    <p class="font-medium tracking-wider text-sm">
                                                        {{card.expirationDate}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="flex justify-between items-start pr-5 pt-6 font-bold w-[350px] ">
                                                <h3>{{card.cardHolder}}</h3>
                                                <h3>{{card.type}}</h3>
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                        </template>
                    </template>
                </div>
                <div v-else>
                    <h2 class="text-center font-bold text-2xl text-orange-500">does not have any card</h2>
                </div>
            </div>
        </main>
        <footer class="text-center h-1/4 text-2xl">
            All rights reserved
        </footer>
    </div>
    <script type="module" src="../pagesJs/tailwind.config.extension.js"></script>
    <script type="module" src="../pagesJs/tailwind.config.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../pagesJs/cards.js"></script>
</body>

</html>