
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
:root{
    --primary:#ff5a00;
}
*{
  margin: 0;  
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
header{
    width: 100%;
    padding-top: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    text-align: center;
    height: 12vh;
    position: fixed;
    padding: 10px;
    z-index: 1000;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.nav-list{
    display:flex;
   gap: 8rem;
}
.nav-list li a{
    position: relative;
    font-weight: 600;
    padding: 5px ;
}
.nav-list li a:hover,
.nav-list li a.active{
    color: var(--primary);
}
.nav-list li a::after{
    content:'';
    position: absolute;
    background:linear-gradient(90deg,rgba(255,90,0,1)0%,rgba(0,15,255,1));
    background-size:400% 400%;
    height: 3px;
    width:100% ;
    left: 0;
    bottom: 0;
    transition:.5s;
}
.nav-list li a:hover::after{
    width:100%;
    animation: gradientAnimation 1.5s linear infinite;
}
@keyframes gradientAnimation{
    0%{
        background-position: 0% 100%;
    }
    50%{
        background-position: 100% 0%;
    }
    100%{
        background-position:0% 100%;
    }
}
.pepito{
    background-color: #ff5a00;
}
